::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: #252525;
}
::-webkit-scrollbar-thumb{
    background: #1DA1F2;
}
::-webkit-scrollbar-thumb:hover{
    background: #405DE6;
}




body,html{
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #181818;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    min-height: 38vh;
    max-height: 38vh;
    justify-content: center;
    align-items: center;

}
.image-container::before
{
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: #ffffff;
}
.box{
    position: relative;
    width: 25vh;
    height: 34vh;
    background-color: #252525;
    border-radius: 20px;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
}
.circle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background-color: #444444;
    transform: translate3d(-50%,-50%,0);
    transform-style: preserve-3d;
}
.myimage{
    position: absolute;
    height: 25vh;
    width: 20vh;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,5vh);
    transform-style: preserve-3d;
}
.box::before{
    position: absolute;
    top: 10%;
    width: 100%;
    height: 5vh;
    transform: translate(0,-50%);
    font-size: 3.2em;
    font-weight: 600;
    color: #141414;
    content: "GÁL";
    opacity: 0%;
    transition: 0.3s;
}
.box::after{
    position: absolute;
    bottom: 10%;
    width: 100%;
    height: 5vh;
    transform: translate(0,-50%);
    font-size: 3.2em;
    font-weight: 600;
    color:  #141414;
    content: "ATTILA";
    opacity: 0%;
    transition: 0.3s;
}
.box:hover{
    background-color: #353535;
    cursor: pointer;
}
.box:hover::before,.box:hover::after{
    opacity:1 !important;
}


#left-paragraph:hover ,#middle-paragraph:hover, #right-paragraph:hover{
    background-color:rgba(29, 161, 242, 0.25);
}
.text-container h1, .text-container h2{
    margin: 2vh;
}
.description{
    font-style: italic;
    font-weight: bold;
    margin: 4vh;
}
.text-container *{
    color:white;
    font-style: italic;
    font-weight: bold;
}

.grid-layout{
    display: grid;
    position: absolute;
    margin: 2%;
    width: 96%;
    grid-template-columns: 48% 48%;
    grid-template-rows: 50%;
    grid-gap: 10px;
    height: 100%;
    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 3;
}
.img1{
    display: inline-grid;
    grid-column: 0 1;
    grid-row: 0 2;
    height: 100%;
}
.img2{
    display: inline-grid;
    grid-column: 1 2;
    grid-row: 0 2;
    height: 100%;
}
.img3{
    display: inline-grid;
    grid-column: 0 2;
    grid-row: 2 3;
    height: 100%;
    width: 210%;
}




.social-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 15vh;
    justify-content: center;
    align-items: center;
}
.social-box{
    display: flex;
    position: relative;
    height: 10vh;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.social-box::before {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}
.icon-container{
    position: relative;
    display: flex;
    padding: 0;
}
.icon-container a{
    position: relative;
    list-style: none;
    margin: 0 5vh;
    cursor: pointer;
}
.icon-container li a{
    text-decoration: none;
}
.icon-container .fab{
    font-size: 2.5em;
    color: #353535;

}
.icon-container a::before{
    font-family: fontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5em;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.icon-container a:nth-child(1)::before{
    content: "\f082";
    color: #4267B2;
    border-bottom: 2px solid #4267B2;
}
.icon-container a:nth-child(2)::before{
    content: "\f16d";
    background-image: linear-gradient(to left,#405DE6,#FD1D1D);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left,#405DE6,#FD1D1D);
}
.icon-container a:nth-child(3)::before{
    content: "\f099";
    color: #1DA1F2;
    border-bottom: 2px solid #1DA1F2;
}

.icon-container a:hover::before {
    height: 100%;
}


#toTop
{
    position: relative;
    display: flex;
    width: 100%;
    height: 5vh;
    background-color: #1DA1F2;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}
#toTop p:nth-child(1){
    color: #000000;
    font-size: 1.5em;
    position: absolute;
    left: 20%;
}
#toTop p:nth-child(4){
    color: #000000;
    font-size: 1.5em;
    position: absolute;
    right: 20%;
}
#toTop i:nth-child(2){
    position: absolute;
    font-size: 2em;
    transition: 0.5s;
    color: #000000;
}
#toTop i:nth-child(3){
    position: absolute;
    font-size: 2em;
    transition: 0.5s;
    color: #000000;
    top: 100%;
}

#toTop:hover i:nth-child(2){
    color: #ffffff;
    transform: translateY(-100%);
    opacity: 0;
}
#toTop:hover i:nth-child(3){
    color: #ffffff;
    transform: translateY(-100%);
    opacity: 1;
}

#footer{
    color: white;
}

@media only screen and (orientation: landscape) {
    .text-container{
        display: flex;
        position: relative;
        width: 100%;
        height: 80vh;
        color: #ffffff;
    }
    #left-paragraph{
        position: absolute;
        max-width: 30vw;
        min-width: 26vw;
        height: 70vh;
        left: 0;
        margin: 5vh;
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }
    #middle-paragraph{
        position: absolute;
        max-width: 30vw;
        min-width: 26vw;
        height: 70vh;
        left: 50%;
        margin: 5vh 0;
        transform: translateX(-50%);
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }
    #right-paragraph{
        position: absolute;
        max-width: 30vw;
        min-width: 26vw;
        height: 70vh;
        right: 0;
        margin: 5vh;
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }
  }

@media only screen and (orientation: portrait) {
    .text-container{
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        color: #ffffff;
    }
    #left-paragraph{
        position: relative;
        display: block;
        width: 70vw;
        height: 50vh;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }
    #middle-paragraph{
        position: relative;
        display: block;
        width: 70vw;
        height: 50vh;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }
    #right-paragraph{
        position: relative;
        display: block;
        width: 70vw;
        height: 50vh;
        left: 50%;
        transform: translateX(-50%);
        border: 2px solid  #1DA1F2;
        border-radius: 20px;
        overflow: auto;
    }

    #toTop p:nth-child(1){
        font-size: 1em;
        left: 15%;
    }
    #toTop p:nth-child(4){
        font-size: 1em;
        right: 15%;
    }
    .icon-container .fab{
        font-size: 1.8em;
    
    }
    .icon-container a::before{
        font-size: 1.8em;
    }
  }